.navbar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .navbar--logo{
        display: flex;
        flex-direction: row;
        font-size: 2em;
        color: #333333;;
        text-decoration: none;
        img{
            height: 100px;
        }
        font-family: 'Brighly Crush';
    }
    .navbar--links{
        display: flex;
        list-style: none;
        height: 100%;
        width: 400px;
        justify-content: space-around;
    
        .navbar--links--link{
            a{
                text-decoration: none;
                color: #333333;
                font-size: 25px;
            }
            font-family: 'Fresh Lemonade';
            cursor: pointer;
        }
    }
}